<div>
  <label>Name</label>
  <input type="text" name="title" value="<%= memo.title %>" />
</div>
<div>
  <label>Author</label>
  <select name="author">
    <% authors.forEach(author => { %> <% if (author.id === memo.author) { %>
    <option
      selected
      label="<%= author.name %>"
      value="<%= author.id %>"
    ></option>
    <% } else { %>
    <option label="<%= author.name %>" value="<%= author.id %>"></option>
    <% } %> <% }) %>
  </select>
</div>
<div>
  <label>Date</label>
  <input
    type="date"
    name="date"
    value="<%= memo.Date == null ? '' : memo.date.toISOString().split('T')[0] %>"
  />
</div>
<div>
  <label>Expense</label>
  <input type="number" name="expense" value="<%= memo.expense %>" />
</div>
<div>
  <label>Upload Files</label>
  <input type="file" name="filesUp" class="filepond" />
</div>
<div>
  <label>Memo</label>
  <textarea name="description"><%= memo.description %></textarea>
</div>
