<h2>Search Memo</h2>
<form action="/memos" method="GET">
  <div>
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>" />
  </div>
  <div>
    <label>Date After</label>
    <input
      type="date"
      name="date_after"
      value="<%= searchOptions.date_after %>"
    />
  </div>
  <div>
    <label>Date Before</label>
    <input
      type="date"
      name="date_before"
      value="<%= searchOptions.date_before %>"
    />
  </div>
  <button type="submit">Search</button>
</form>
<br />
<div>
  <% memos.forEach(memo => { %>
  <a href="/memos/<%= memo.id %>">
    <div><%= memo.title %></div>
    <img height="150" width="100" src="<%= memo.filesUploadPath %>" />
  </a>
  <% }); %>
</div>
