<h2 class="page-header"><%= memo.title %></h2>
<div class="memo-details">
  <div>
    <img width="200" height="300" src="<%= memo.coverImagePath %>" />
    <div class="memo-details-btn-grid">
      <a class="btn btn-primary" href="/memos/<%= memo.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/memos/${memo.id}` }) %>
      <a
        class="btn btn-primary memo-details-author-button"
        href="/authors/<%= memo.author.id %>"
        >View Author</a
      >
    </div>
  </div>
  <div class="memo-details-grid">
    <div class="memo-details-label">Author:</div>
    <div><%= memo.author.name %></div>
    <div class="memo-details-label">Publish Date:</div>
    <div><%= memo.date.toDateString() %></div>
    <div class="memo-details-label">Expense</div>
    <div><%= memo.expense %></div>
    <div class="memo-details-label">Description</div>
    <div><%= memo.description %></div>
  </div>
</div>
