<h2 class="page-header"><%= author.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
</div>
<% if (memosByAuthor.length > 0) { %>
<h2 class="page-header">Memos By Author</h2>
<% memosByAuthor.forEach(memo => { %>
<a href="/memos/<%= memo.id %>">
  <div><%= memo.title %></div>
  <img height="150" width="100" src="<%= memo.filesUploadPath %>" />
</a>
<% }) %> <% } %>
